.contactHeader {
    text-align: center;
    margin:20px 0;
    color: red;
 }

 .contactBody {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding: 20px 40px;
    margin: 40px  50px;
    /* justify-content: space-evenly; */
}

.contactInfo {
    flex:30%;
    max-width: 30%;
    padding:10px 10px;
    vertical-align: middle;
}
.contactBox {
    flex:70%;
    max-width: 70%;
    padding:5px 10px;
    vertical-align: middle;
}

.contactForm {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding:10px 20px;  
}
.contactInput {
    padding:10px 0;
    margin:20px 0;
}

.contactSubtitle {
    margin:10px 0 20px 0;
    padding:5px 15px;
}

.contactButton {
    margin-top:30px;
    
}

.barid{
    align-items: center;
    z-index: 1;
    background: #191970;
    width: 50%;
    height: 3px;
    margin-top: 12px;
    transition: 0.5s;
  }
  
  .barid::before {
    right: 20px;
  }
  .barid::before {
    content: "";
    height: 100%;
    width: 3px;
    top: 0;
    background: #ffffff;
    transition: 0.5s;
  }
  .barid::after {
    right: 10px;
  }
  
  .barid::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    top: 0;
    background: #ffffff;
    transition: 0.5s;
  }

  .fbutton{
    justify-content: center;
    margin-bottom: 20px;
    margin-top:10px;
  }
  
@media screen and (max-width: 800px){
    .contactBody {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-items: center;
        max-width: 100%;
    }
    
    .contactInfo {
       padding-left: 10px;
       margin-left: 10px;
        align-self: stretch;
        width:100%;
    }
    .contactBox {
        display:block;
        width:50%;
        align-self: stretch;
        flex: 1;
    }
    
}



/* 
.contactMessage {
    height:30%;
    width:100%;
    margin-top: 20px;
} */