

.header__logoImage {
    height:120px;
    width:120px;
    border-radius: 70px;
    padding:14px 16px;
}

.right-element{
    float:right;
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration: none;
    font-size:17px;
}

/* .right_element:hover {
    background-color:#191970 ;
    color:white;
    text-decoration: none;
    font-size:19px;
} */

/* .aelement{
    background-color: #FF0000;
    color:white;
    text-decoration: none;
    font-size:17px;
}  */