.header {
    display:grid;
    grid-template-columns: 80px 400px 300px 150px;
    grid-column-gap:100px;
}
.header__logoImage {
    height:120px;
    width:120px;
    border-radius: 70px;
}

.header__navbarElement {
    color:#191970;
    margin-top: 20px;
    padding: 40px;
    
    text-decoration: none;
}