body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  box-sizing: border-box;
}

.register__form {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.register {
  margin-top: 0px;
}
.register__button {
  width: 100%;
  float: right;
}

.register__title {
  color: red;
  width: 100%;
}

.emailid {
  border: 0;
  padding: 0.625rem;
  margin: 10px;
  border-radius: 4px;
  resize: vertical;
  border: 1px solid #ccc;
}

.fpassword {
  padding: 0.625rem;
  margin: 10px;
  border-radius: 4px;
  resize: vertical;
  border: 1px solid #ccc;
}

.confirmpassword {
  padding: 0.625rem;
  margin: 10px;
  border-radius: 4px;
  resize: vertical;
  border: 1px solid #ccc;
}

.firstname {
  padding: 0.625rem;
  margin: 10px;
  border-radius: 4px;
  resize: vertical;
  border: 1px solid #ccc;
}

.lastname {
  padding: 0.625rem;
  margin: 10px;
  border-radius: 4px;
  resize: vertical;
  border: 1px solid #ccc;
}

.checkbox {
  padding: 0.625rem;
  margin: 10px;
  border-radius: 4px;
  resize: vertical;
  border: 1px solid #ccc;
}

.contactnumber {
  padding: 0.625rem;
  margin: 10px;
  border-radius: 4px;
  resize: vertical;
  border: 1px solid #ccc;
}

.form__control {
  background-color: white;
  border-radius: 4px;
  resize: vertical;
  border: 1px solid #ccc;
}

.form__group {
  display: table-row;
  padding: 10px;
}
.input {
  display: table-cell;
}
.form__control {
  display: table-cell;
}
.registerform {
  display: table;
}

@media screen and (max-width: 400px) {
  .register__form,
  .register__form .registerform,
  .registerform .register__title,
  .registerform .form__group,
  .registerform .input,
  .registerform .form__control {
    display: flex;
    flex-direction: column;
    -ms-flex: 50%;
    flex: 50%;
    margin-top: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 400px) {
  .register__form,
  .registerform .register__button {
    display: flex;
    flex-direction: column;
    -ms-flex: 50%;
    flex: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
