.service__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.service__cardImage {
  width: auto;
  height: auto;
  object-fit: cover;
}

.service {
  margin: 10px;
}

.card {
  background-color: rgba(199, 199, 199, 0.356);
}

.service__title {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  border: 1px solid red;
  color: red;
  margin: 5px;
  padding: 5px;
}

.services__card :hover .Stitle .service__title .service__money {
  background-color: red;
  color: white;
}

.services__card :hover .Stitle .service__title {
  background-color: red;
  color: white;
}
.services__card :hover {
  cursor: pointer;
}

.title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
  float: left;
  align-items: left;
}
.services__card {
  display: flex;
  margin-bottom: auto;
  flex-direction: row;
  padding: 1.25rem;
  min-width: 12.5rem;
}

.service__money {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  float: right;
  padding-left: 40px;
  font-size: 15px;
}

.service__cardButton {
  width: 20%;
  font-size: 10px;
  border-radius: 5%;
}

@media screen and (max-width: 800px) {
  .service .services__card {
    width: auto;
    height: auto;
    margin: 0;
  }
}

@media screen and (max-width: 280px) {
  .service .services__card {
    min-width: 20px;
    height: auto;
    margin: 0;
    padding: 0px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 280px) {
  .service .service__title,
  .service__title .title,
  .service__title .service__money {
    min-width: 10px;
    height: auto;
    margin: 5px;
    padding: 0px;
    font-size: 15px;
  }
}

@media screen and (max-width: 280px) {
  .service .service__cardButton {
    min-width: 10px;
    height: auto;
    max-width: 100%;
    width: auto;
  }
}

/* @media screen and (max-width: 500px) {
  .service .services__card,
  .services__card .Card.Img .service__img {
    width: auto;
    height: auto;
    max-width: auto;
    margin: auto;
  }
}

@media screen and (max-width: 500px) {
  .service .service__title,
  .service .title,
  .service p .service__money {
    width: 100%;
    height: auto;
    max-width: auto;
    margin: 0;
  }
} */
